.navbar {
  display: flex;
  /* justify-content: space-between; */
  gap: 1rem;
  padding: 1rem 0 1rem 0;
}

.navbar-buttons {
  display: flex;
  gap: 1rem;
}
.navbar-buttons button {
  font: inherit;
  background-color: transparent;
  border: none;
  color: pink;
  cursor: pointer;
}

.books:hover,
.user:hover,
.addBook:hover {
  color: pink;
}
