.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0 1rem 0;
}

.navigation {
  display: flex;
  gap: 1rem;
}

.book-features {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.adminBtn {
  font: inherit;
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
  text-align: bottom;
}

.adminBtn:hover {
  color: pink;
}
