.card-container {
  display: grid;
  align-items: center;
}

.card {
  width: 80%;
  max-width: 420px;
  min-width: 340px;
  padding: 3rem;
  margin: 2rem;
  border-radius: 0.2rem;
  box-shadow: 0px 0px 100px rgb(54, 54, 54);
  position: absolute;
  top: 20rem;
  background-color: white;
}

.card h4 {
  font-size: 1.2rem;
  text-align: center;
}

.card h4,
.card-inputfield input {
  margin-bottom: 1rem;
}

.card label {
  letter-spacing: 0.5px;
  display: flex;
  align-self: self-start;
  font-weight: bold;
}

.card input {
  width: 100%;
  font-family: "Poppins", sans-serif;
  border: 0;
  padding: 1rem 0 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.card input::placeholder {
  opacity: 0.65;
  font-size: 0.9rem;
}

.card input:focus::placeholder {
  color: black;
  opacity: 0.65;
}

.card-buttons {
  display: flex;
  justify-content: center;
}

.card-buttons button {
  font: inherit;
  padding: 0.5rem;
  margin: 0.2rem;
  background: #03c875;
  border: none;
  color: white;
  border-radius: 0.4rem;
  cursor: pointer;
}

.confirm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
  padding: 3rem;
  margin: 2rem;
  position: absolute;
  top: 10em;
  background-color: white;
  box-shadow: 2px 2px 100px rgb(106, 106, 106);
}

@media only screen and (max-width: 430px) {
  .card {
    box-shadow: none;
    padding: 1rem;
    width: 100%;
  }

  .card,
  .confirm {
    margin: 0;
  }

  .card-buttons {
    flex-direction: column;
  }

  .card label,
  .card input::placeholder {
    font-size: 1rem;
  }
}
