.header-container {
  background-color: lightgray;
}

.header {
  display: flex;
  padding: 2rem 1rem 2rem 1rem;
  background-color: transparent;
}

.header-title {
  font-size: 2.5rem;
  flex-grow: 2;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* border: 2px solid green; */
}

.header-left {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* border: 2px solid blue; */
}

.headerBtn {
  font: inherit;
  padding: 0.5rem;
  margin: 0.2rem;
  background: #03c875;
  border: none;
  color: white;
  border-radius: 0.4rem;
  cursor: pointer;
}

@media only screen and (max-width: 650px) {
  .header {
    /* display: none; */
  }
}
